<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="chromiumpoc.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="chromiumpoc.Perspective"
            name="Perspective"
            id="chromium-poc.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="chromiumpoc.View30"
            name="View30"
            id="chromium-poc.view30"
            inject="true">
      </view>
      <view
            class="chromiumpoc.View31"
            id="chromium-poc.view31"
            name="View31"
            restorable="true">
      </view>
      <view
            class="chromiumpoc.View58"
            id="chromium-poc.view58"
            name="View58"
            restorable="true">
      </view>
      <view
            class="chromiumpoc.View63"
            id="chromium-poc.view63"
            name="View63"
            restorable="true">
      </view>
      <view
            class="chromiumpoc.View66"
            id="chromium-poc.view66"
            name="View66"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="chromium-poc.view30"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Views">
            <command
                  commandId="chromium-poc.openView"
                  label="Open Issue 30 Example"
                  style="push">
               <parameter
                     name="viewId"
                     value="chromium-poc.view30">
               </parameter>
            </command>
            <command
                  commandId="chromium-poc.openView"
                  label="Open Issue 31 Example"
                  style="push">
               <parameter
                     name="viewId"
                     value="chromium-poc.view31">
               </parameter>
            </command>
            <command
                  commandId="chromium-poc.openView"
                  label="Open Issue 58 Example"
                  style="push">
               <parameter
                     name="viewId"
                     value="chromium-poc.view58">
               </parameter>
            </command>
            <command
                  commandId="chromium-poc.openView"
                  label="Open Issue 63 Example"
                  style="push">
               <parameter
                     name="viewId"
                     value="chromium-poc.view63">
               </parameter>
            </command>
            <command
                  commandId="chromium-poc.openView"
                  label="Open Issue 66 Example"
                  style="push">
               <parameter
                     name="viewId"
                     value="chromium-poc.view66">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="chromium-poc.openView"
            name="Open View">
         <commandParameter
               id="viewId"
               name="viewId"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="chromiumpoc.OpenViewHandler"
            commandId="chromium-poc.openView">
      </handler>
   </extension>

</plugin>
